
<footer class='footer fixed-bottom text-lg-start text-center text-white bg-dark'>
    Projeto Integrador em Computação da Univesp - Grupo 02 Polo Cidade Dutra
</footer>


<!--

    <footer id="myFooter" class='footer fixed-bottom text-lg-start text-center text-white bg-dark'>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="logo"><a href="https://programadorviking.com.br/"> LOGO </a></h3>
                </div>
                <div class="col-sm-2">
                    <h6>Inicio</h6>

                    <ul>
                        <li><a href="https://programadorviking.com.br/">Home</a></li>
                        <li><a href="https://bit.ly/front-end-curso-completo-promocao-01">Cursos</a></li>
                        <li><a href="https://programadorviking.com.br/">Downloads</a></li>

					
                </div>
                <div class="col-sm-2">
                    <h6>Sobre nós</h6>
					
                    <ul>
                        <li><a href="https://programadorviking.com.br/">Informações da Empresa</a></li>
                        <li><a href="https://programadorviking.com.br/">Contato</a></li>
                        <li><a href="https://programadorviking.com.br/">Blog</a></li>
                    </ul>
					
                </div>
                <div class="col-sm-2">
                    <h6>Suporte</h6>
					
                    <ul>
                        <li><a href="https://programadorviking.com.br/">FAQ</a></li>
                        <li><a href="https://programadorviking.com.br/">Telefones</a></li>
                        <li><a href="https://programadorviking.com.br/">Chat</a></li>
                    </ul>
					
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="https://programadorviking.com.br/" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://programadorviking.com.br/" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://programadorviking.com.br/" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                    <a href="https://programadorviking.com.br/">
                        <button type="button" class="btn btn-default">Contato</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Copyright - Projeto Integrador em Computação da Univesp - Grupo 02 Polo Cidade Dutra</p>
        </div>
    </footer>
-->
