{% extends "base.html"%}
{% block conteudo %}
<div class='container'>
    <div class='row justify-content-md-center' style="margin-top: 3%;">
        <!--
        <div class="col-md-6">
            <h2 class='text-justify'>Bem vindo ao E-Vizinhos</h2>
            <h3 class='text-justify'>Somos um portal de serviços perto de você!
            Clique <a href='/empreendimentos'>aqui</a> para conferir nossos anúncios.</h3>
            <img src="/static/img/home/home-atendimento.jpg" class='img-fluid rounded mb-3'>
            <img src='/static/img/home/home-estetica.jpg' class='img-fluid rounded mb-3'>
        </div>
        <div class='col-md-6'>
            <img src="/static/img/home/home-cabelereiro.jpg" class=' img-fluid rounded mb-3'>
            <img src="/static/img/home/home-padaria.jpg" class=' img-fluid rounded mb-3'>
        </div>
        -->
        <div class='col-lg-6 text-center'>
            <p class="font-weight-bold h4">O que é o E-Vizinhos?</p class=>
            <p class="font-weight-light font-italic h5">Somos um portal de serviços com o objetivo de facilitar a comunicação entre os clientes e fornecedores!</p>
            
            <p class='mt-5'><ion-icon style="font-size: 64px;" name="create-outline"></ion-icon></p>
            <p class="font-weight-bold h4">Como cadastrar meu produto ou serviço?</p>
            <p class="font-weight-light font-italic h5">Registre-se na nossa plataforma e preencha o formulário de anúncio.</p>
            <a class='btn btn-rounded btn-outline-info text-center' role='button' href='/register'>
                Registrar
            </a>

            <p class="mt-5"><ion-icon style="font-size: 64px;" name="chatbubbles"></ion-icon></p>
            <p class="font-weight-bold h4">Como entro em contato com os fornecedores?</p>
            <p class="font-weight-light font-italic h5">Ao encontrar um produto ou serviço de seu interesse, você pode consultar as informações de contato para cada um deles.</p>
            <a class='btn btn-rounded btn-outline-info text-center' role='button' href='/empreendimentos'>
                Anúncios
            </a>
        </div>
    </div>
</div>

{%endblock conteudo%}