{% extends "base.html"%}
{% block conteudo %}
<!--
<div id="myCarousel" class="myCarousel" class="carousel slide" data-ride="carousel">

    <div class='carousel-inner'>
        <div class='carousel-item active'>
            <img src="/static/img/home/home-atendimento.jpg" class='d-block w-100' alt='First slide' style="height: 350px;">
        </div>
        <div class='carousel-item'>
            <img src="/static/img/home/home-cabelereiro2.jpg" class='d-block w-100' alt='First slide' style="height: 350px;">
        </div>
        <div class='carousel-item'>
            <img src="/static/img/home/home-mecanica.jpeg" class='d-block w-100' alt='First slide' style="height: 350px;">
        </div>
        <div class='carousel-item'>
            <img src="/static/img/home/home-padaria.jpg" class='d-block w-100' alt='First slide' style="height: 350px;">
        </div>
    </div>
</div>
-->
<div class = 'imagemCover container-fluid'>
    <div class='row'>
        <div class='home-msg col-md-6'>
            <span class="font-weight-bold text-md-left h1">BEM VINDO! </span><br>
            <span class="font-weight-bold text-md-left h2">
                Somos um portal de serviços com o <br> objetivo de facilitar a comunicação<br> entre os clientes e fornecedores!</span>
        </div>
    </div>
</div>


<div class='container'>
    <div class='row' style="margin-top: 3%;"> <!-- justify-content-md-center-->
        <!--
        <div class="col-md-6">
            <h2 class='text-justify'>Bem vindo ao E-Vizinhos</h2>
            <h3 class='text-justify'>Somos um portal de serviços perto de você!
            Clique <a href='/empreendimentos'>aqui</a> para conferir nossos anúncios.</h3>
            <img src="/static/img/home/home-atendimento.jpg" class='img-fluid rounded mb-3'>
            <img src='/static/img/home/home-estetica.jpg' class='img-fluid rounded mb-3'>
        </div>
        <div class='col-md-6'>
            <img src="/static/img/home/home-cabelereiro.jpg" class=' img-fluid rounded mb-3'>
            <img src="/static/img/home/home-padaria.jpg" class=' img-fluid rounded mb-3'>
        </div>
        -->
        <div class='col-md-6 text-center'>
            <!--
            <p class="font-weight-bold h4">O que é o E-Vizinhos?</p class=>
            <p class="font-weight-light font-italic h5">Somos um portal de serviços com o objetivo de facilitar a comunicação entre os clientes e fornecedores!</p>
            -->
            <p class="font-weight-bold h4", id="cabecalho_main">Como cadastrar meu produto ou serviço?</p>
            <p class="font-weight-normal h5">Registre-se na nossa plataforma e preencha o <br>formulário de anúncio.</p>
            <p><ion-icon style="font-size: 64px;" name="create-outline"></ion-icon></p>
            <a class='btn btn-rounded btn-success text-center' role='button' href='/register'>
                Registrar
            </a>
        </div>
        <div class='col-md-6 text-center'>
            <p class="font-weight-bold h4" id="cabecalho_main">Como entro em contato com os fornecedores?</p>
            <p class="font-weight-normal h5">Ao encontrar um produto ou serviço de seu interesse, você pode consultar as informações de contato no anúncio.</p>
            <p><ion-icon style="font-size: 64px;" name="chatbubbles"></ion-icon></p>
            <a class='btn btn-rounded btn-success text-center' role='button' href='/empreendimentos'>
                Anúncios
            </a>
        </div>
    </div>
</div>

{%endblock conteudo%}