{% extends "base.html" %}
{% load static %}
{% block titulo %}
Detalhes do Serviço
{%endblock%}
{%block conteudo%}
<div class='container'>
    <div class='row' style='margin-top: 4%'>
        <div class='col-lg-10'>
                <div class='row'>
                    <div class='col-sm-3'>
                        <img src='{{empreendimento.imagem.url}}' class='img-fluid img-responsive img-thumbnail mb-4' id= 'img1'">

                        {%if empreendimento.imagem2 %}
                        <img src='{{empreendimento.imagem2.url}}' class="img-fluid img-responsive img-thumbnail mb-4" id="img2">
                        {% endif %}
                        
                        {%if empreendimento.imagem3 %}
                        <img src='{{empreendimento.imagem3.url}}' class="img-fluid img-responsive img-thumbnail" id="img3">
                        {% endif %}
                    </div>   
                    <div class='card col-8'>
                        <div class='card-body'>
                            <!--<div class='col-md-12'>-->
                                <img src='{{empreendimento.imagem.url}}'
                                    class = 'img-fluid img-main-responsive mb-2' id= 'img_principal'
                                    alt='Imagem de {{empreendimento.nome_empreendimento}}'>
                            <!--</div>
                            <div class='col-md-6' style='padding-left: 20px'>-->
                                <h3>{{empreendimento.nome_empreendimento}}</h3>
                                <p>{{ empreendimento.descricao|safe|linebreaksbr }}</p> <!--tags precedidas por | são filtro de template-->

                                {% if empreendimento.telefone %}
                                <p><ion-icon name="call-outline"></ion-icon>
                                <a href="https://wa.me/55{{empreendimento.telefone}}" target="_blank">{{empreendimento.telefone}}</a>
                                </p>
                                {%endif%}
                                
                                {% if empreendimento.instagram %}
                                <p><ion-icon name="logo-instagram"></ion-icon>
                                <a href="{{empreendimento.instagram}}" id="instagram" target="_blank" rel="noopener noreferrer">{{empreendimento.instagram}}</a></p>
                                {%endif%}

                                {% if empreendimento.facebook %}
                                <p><ion-icon name="logo-facebook"></ion-icon>
                                <a href="https://{{empreendimento.facebook}}" id="facebook" target="_blank" rel="noopener noreferrer">{{empreendimento.facebook}}</a></p>
                                {%endif%}
                                
                                <p>Aceitamos: 
                                {% for pagamento in empreendimento.condicao_pagamento.all%}
                                    {{pagamento}}{% if not forloop.last %}, {% endif %}
                                {%endfor%}
                                </p>

                        </div>
                    </div>
                    
                </div>
        </div>
    </div>
</div>
{%endblock%}