{% extends "base.html" %}
{% load static %}
{% block titulo %}
Produtos/Serviços
{%endblock%}
{%block conteudo%}
<div class='container-fluid'>
    <div class='row' style='margin-top: 1%'>
        <div class='col-sm-3 col-sm-offset-1'>
            <div class='sidebar-module'>
                <h4>Categorias</h4>
                <ol class='list-unstyled'>
                    <li {%if not categoria%} class='active' {%endif%}>
                        <a href="{%url 'main:listar_empreendimentos'%}">Todos</a>
                    </li>
                    {%for c in lista_categorias%}
                    <li {% if categoria.nome == c.nome %} 
                        class='active' 
                        {%endif%}> <!--Colocar a condição categoria.nome == empreendimento.nome-->
                        <a href="{{c.get_absolute_url}}">{{c.nome}}</a>
                    </li>
                    {%endfor%}
                </ol>
            </div>
        </div>
        <div class='col-sm-9'>
                <div class='row' id='content-page'>
                    {%for empreendimento in lista_empreendimentos%}
                    <div class='col-md-4'>
                        <div class='thumbnail'>
                            <a href = "{{ empreendimento.get_absolute_url}}">
                                <img src="
                                        {% if empreendimento.imagem %}
                                        {{ empreendimento.imagem.url}}
                                        {% else %}
                                        {% static 'img/default.jpg' %}
                                        {% endif %}"
                                        alt = "Imagem de {{empreendimento.nome}}"
                                        style = 'height: 130px; width: 230px'>
                            </a>
                            <div class='caption'>
                                <h3 class='text-left mb-4'>
                                    <a href="{{empreendimento.get_absolute_url}}">
                                        {{empreendimento.nome_empreendimento}}
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>
{%endblock%}